.header {
  background-color: #283593;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 45px;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
